@import url("https://fonts.googleapis.com/css2?family=Tektur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #494949;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  position: relative;
}

.players {
  position: absolute;
  border: 3px solid green;
  width: 1000px;
  height: 500px;
  left: 12%;
  top: 17%;
}

#player1,
#player2 {
  position: absolute;
  border: 2px solid blue;

  width: 500px;
  height: 500px;
}

#player1 {
  background: rgb(175, 89, 89);
}

#player2 {
  left: 50%;
  background: rgb(209, 163, 96);
}

.player-text {
  font-family: "Tektur", sans-serif;
  font-size: 40px;
  position: absolute;
  display: flex;
  border: 1px solid yellow;
  top: -100px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.score1,
.score2 {
  position: absolute;
  display: flex;
  border: 1px solid yellow;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.currents {
}

.current_scores {
}

.buttons {
}
